# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Dependency directories
jspm_packages/

# Build output
dist/
build/



# IDE and Editor settings
.vscode/
.idea/


